<!DOCTYPE html>
<html lang="en" xmlns:wb="http://open.weibo.com/wb">
  <head>
    <meta charset="utf-8">
    <title>spider's awsome life</title>
    {% if page.description %}<meta name="description" content="{{ page.description }}">{% endif %}
    <meta name="author" content="{{ site.author.name }}">
    <meta name="keywords" content="blog, spider, online">
    <!-- Enable responsive viewport -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Le HTML5 shim, for IE6-8 support of HTML elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <!-- Le styles -->
    <link rel="shortcut icon" href="{{ ASSET_PATH }}/img/favicon.ico" type="image/x-icon">
    
    <!-- jQuery JS -->
    <script src="{{ ASSET_PATH }}/js/jquery.min.js" type="text/javascript"></script>

    <!-- Bootstrap JS -->
    <script src="{{ ASSET_PATH }}/js/bootstrap.min.js" type="text/javascript"></script>

    <!-- Bootstrap CSS -->
    <link href="{{ ASSET_PATH }}/css/bootstrap.css" rel="stylesheet">

    <!-- Sharre JS -->
    <script src="{{ ASSET_PATH }}/js/sharrre.min.js" type="text/javascript"></script>

    <!-- Slides JS -->
    <script src="{{ ASSET_PATH }}/js/slides.min.js" type="text/javascript"></script>

    <!-- Apprise -->
    <script type="text/javascript" src="{{ ASSET_PATH }}/js/apprise/apprise-1.5.min.js"></script>
    <link rel="stylesheet" type="text/css" href="{{ ASSET_PATH }}/css/apprise.min.css" media="screen" />

    <!-- oswald font CSS -->
    <link href="{{ ASSET_PATH }}/css/stylesheet.css" rel="stylesheet">

    <!-- FancyBox -->
    <link rel="stylesheet" href="{{ ASSET_PATH }}/css/jquery.fancybox.css" type="text/css" media="screen" />
    <script type="text/javascript" src="{{ ASSET_PATH }}/js/jquery.fancybox.pack.js"></script>

    <!-- own CSS -->
    <link href="{{ ASSET_PATH }}/css/styles.css" rel="stylesheet">

    <!-- own JS -->
    <script src="{{ ASSET_PATH }}/js/scripts.js" type="text/javascript"></script>
    <!--SINA  -->
<meta property="wb:webmaster" content="16802de373658126" />
<script src="http://tjs.sjs.sinajs.cn/open/api/js/wb.js?appkey=180712396" type="text/javascript" charset="utf-8"></script>
<!-- TENCENT -->
<meta property="qc:admins" content="23513270076301452616636" />
    <!--[if lt IE 9]>
      <script src="{{ ASSET_PATH }}/js/html5.js"></script>
    <![endif]-->

    <!--[if IE]>
      <link href="{{ ASSET_PATH }}/css/styles_ie.css" rel="stylesheet">
    <![endif]-->

    <!--
          <link rel="alternate" type="application/rss+xml" title="RSS" href="http://wewantgames.de/site/rss/magazin" />

    -->
   <style>
     body {
      
      color: #5a5a5a;
      background-image: url({{ ASSET_PATH }}/img/Abstract-Squares-l.jpg)
      
    }
   </style>
    <script type="text/javascript">

      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-33758548-1']);
      _gaq.push(['_trackPageview']);

      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();

    </script>   
    
  </head>
  <body >

    <div id="fb-root"></div>
    <script>
      window.fbAsyncInit = function() {
        FB.init({
          appId      : '444939098872666', // App ID
          channelUrl : '//wewantgames.de/channel.html', // Channel File
          status     : true, // check login status
          cookie     : true, // enable cookies to allow the server to access the session
          xfbml      : true  // parse XFBML
        });

        // Additional initialization code here
      };

      // Load the SDK Asynchronously
      (function(d){
         var js, id = 'facebook-jssdk', ref = d.getElementsByTagName('script')[0];
         if (d.getElementById(id)) {return;}
         js = d.createElement('script'); js.id = id; js.async = true;
         js.src = "//connect.facebook.net/de_DE/all.js";
         ref.parentNode.insertBefore(js, ref);
       }(document));
    </script>
    
    <div id="header">
      <div id="logo">
        <a href="javascript: void(0)">
          <img src="{{ ASSET_PATH }}/img/uplogo.png" alt="Spider‘s Logo" />

        </a>
      </div>
<!--
      <div id="social_icons">
        <a href="http://weibo.com/zhoufanspider" target="_blank"><img src="{{ ASSET_PATH }}/img/icon_gplus.jpg" title="spiderfan.cn" alt="Google+"/></a>
        <a href="http://weibo.com/zhoufanspider" target="_blank"><img src="{{ ASSET_PATH }}/img/icon_facebook.png" title="spiderfan.cn" alt="Facebook" /></a>
      </div>
-->
      <div class="terminator"></div>

      <div id="menu">
        <div class="level1">
      <a href="www.spiderfan.cn"><span class="active">首页</span></a>
  </div>


<div class="level1">
      <a href="{{ HOME_PATH }}tags.html"><span class="active">博客分类</span></a>
  </div>
<!--幻灯片从这里开始 -->
<div class="terminator"></div>      </div>
    </div>
    
    <div id="root">
             
        <div id="featured">
          <div id="slides">
  <div class="slides_container">
    
      <div>
        <a href="javascript:void(0)">
          <img src="{{ ASSET_PATH }}/uploads/games/evoland_big_01.jpg" alt="Evoland - von 1D bis 3D" width="960" />
        </a>
        <a href="javascript:void(0)">
          <div class="caption">
            <h2>KEEP GOING</h2>
            <div>我已无暇顾及过去，我要勇往直前！</div>
          </div>
        </a>
      </div>

    
      <div>
        <a href="javascript:void(0)">
          <img src="{{ ASSET_PATH }}/uploads/games/bioshock_infinite_big_01.jpg" alt="Test - Bioshock Infinite" width="960" />
        </a>
        <a href="javascript:void(0)">
          <div class="caption">
            <h2>1% and 99%</h2>
            <div>1%和99%的理论已被大家熟知，最重要的1%的灵感又要去哪里寻找。 </div>
          </div>
        </a>
      </div>

       <div>
        <a href="javascript:void(0)">
          <img src="{{ ASSET_PATH }}/uploads/games/Eiffel-Tower-l.jpg" alt="eiffel-tower" width="960" />
        </a>
        <a href="javascript:void(0)">
          <div class="caption">
            <h2>EIffel</h2>
            <div>宏伟的建筑才能看到自己的渺小，同时也感叹世界的伟大，进而不会再在乎那些无聊的人和事。 </div>
          </div>
        </a>
      </div>

      </div>

  <a href="#" class="prev"><img src="{{ ASSET_PATH }}/img/slider_arrow_left.png" width="20" height="43" alt="Arrow Prev"></a>
  <a href="#" class="next"><img src="{{ ASSET_PATH }}/img/slider_arrow_right.png" width="20" height="43" alt="Arrow Next"></a>
</div>        </div>


<div id="main">   
{{ content }}

</div>
<!--                                                       





================================================================================================







-->              
      
<!--






===================================================================================================







-->
      <div id="right">

<!--        
  <div  
         style="margin-top:   0px;
        margin-bottom:  0px;">
    <div class="newsletter_submit_form btn-group">

  <h3>Newsletter abonnieren</h3>

  <div class="control-goup" id="cg_email">
    <input type="text" id="email" name="email" placeholder="eMail Adresse" style="float: left;" />
    <button type="button" class="btn" title="Senden" onclick="submitMail();"><i class="icon icon-envelope"></i></button>
  </div>

</div>


<script>
  
  $('#btn_mail').click(function(){
    submitMail();
  })

  $('#email').keyup(function(event){
    if(event.which == 13 && isEmail($('#email').val()))
      submitMail();
  });

  function isEmail(email) 
  {
    var regex = /^([a-zA-Z0-9_\.\-\+])+\@(([a-zA-Z0-9\-])+\.)+([a-zA-Z0-9]{2,4})+$/;
    return regex.test(email);
  }
  
  function submitMail()
  {
    if(isEmail($('#email').val()))
      $.post('http://wewantgames.de/subscribe', {'email': $('#email').val()}, function(response){
        apprise(response)
        $('#email').val('');
        $('#cg_email').attr('class', 'control-group');
      });
    else
    {
      apprise('Bitch, please! Das ist doch keine eMail Adresse...');
      $('#cg_email').attr('class', 'control-group error');
    } 
  }
-->
  <div  
         style="margin-top:   0px;
        margin-bottom:  15px;">
    <div class="latest_comments">

  

            <div class="item">
        <div class="article">
         <iframe width="100%" height="550" class="share_self"  frameborder="0" scrolling="no" src="http://widget.weibo.com/weiboshow/index.php?language=zh_cn&width=0&height=550&fansRow=2&ptype=1&speed=300&skin=6&isTitle=1&noborder=1&isWeibo=1&isFans=0&uid=2060943722&verifier=d643d182&dpc=1"></iframe>
          <a href="http://weibo.com/zhoufanspider">
           Spider：ease be either@xian
                   
         </a>
         <img src="{{ ASSET_PATH }}/img/me.png" width="40" height="50" alt="me"><br>
         
        </div>
       
      </div>
</div>  </div>
<div  
         style="margin-top:   0px;
        margin-bottom:  15px;">
    <div class="latest_comments">
       <h3>「说点啥」<img src="{{ ASSET_PATH }}/img/spider.png" width="30" height="40" alt="me"></h3>
        <div class="item">
        <div class="article">
      
         <h4>用数据挖掘的心洞察每个产品的灵魂</h4><br>
         <h4>用图像处理的笔描绘每一种奇迹</h4><br>
         <h4>用不卑不亢的勇气战胜每一种恶势力</h4><br>
         <h4>用发现美的眼睛还原这世间的每一处光明</h4><br>
         <a href="http://weibo.com/kprime">网站终于搭建好了，感谢@kprime的鼎力相助
         </a>
        </div>
       
      </div>

      </div></div>
<div  
         style="margin-top:   0px;
        margin-bottom:  15px;">
    <div class="latest_comments">

  <h3>「干货齐分享」<img src="{{ ASSET_PATH }}/img/spider.png" width="30" height="40" alt="me"></h3>

            <div class="item">
        <div class="article">
          <h4>设计师必备网站：</h4>
        <a href="http://hao.uisdc.com">设计师网站导航 </a>
        <h4>产品经理相关网站：</h4><br>
        <a href="http://www.chanpin100.com">产品100----全方位产品经理学习网站</a><br>
        <a href="http://www.huxiu.com">虎嗅----个性化商业交流平台</a><br>
        <a href="http://www.36kr.com">36氪----关注互联网创业</a><br>

         
        </div>
       
      </div>
</div>  </div>
<!--最近博客列表 -->
  <div  
         style="margin-top:   0px;
        margin-bottom:  15px;">
    <div class="latest_comments">

  <h3>「最近博客列表」<img src="{{ ASSET_PATH }}/img/spider.png" width="30" height="40" alt="me"></h3>
{% for post in site.posts limit:5 %}
<div class="latest_comments">
            <div class="item">
        <div class="article">
          <a href="{{ BASE_PATH }}{{ post.url }}">
       {{ post.title }} </a>
    
          
         
        </div>
       
      </div>

       </div>   
{% endfor %}

      
</div>  </div>

<div  
         style="margin-top:   0px;
        margin-bottom:  15px;">
    <div class="latest_comments">
       <h3>「顶一个，赞一个」<img src="{{ ASSET_PATH }}/img/spider.png" width="30" height="40" alt="me"></h3>
        <div class="item">
        <div class="article">
      
        
         <a href="http://www.bonnshore.com/">博闻不如一见
         </a>
        </div>
       
      </div>

      </div></div>



</div>





<!-- 
  留着做名片吧
--><!--
        <h3>Newsticker</h3>
        <script charset="utf-8" src="http://widgets.twimg.com/j/2/widget.js"></script>
        <script>
        new TWTR.Widget({
          version: 2,
          type: 'profile',
          rpp: 6,
          interval: 30000,
          width: 280,
          height: 300,
          theme: {
            shell: {
              background: '#eeeeee',
              color: '#333333'
            },
            tweets: {
              background: '#eeeeee',
              color: '#333333',
              links: '#666666'
            }
          },
          features: {
            scrollbar: false,
            loop: false,
            live: false,
            behavior: 'all'
          }
        }).render().setUser('wewantgames').start();
        </script>
      </div>
-->
      <div id="footer">
        <img src="{{ ASSET_PATH }}/img/logo.png" alt="WeWantGames" style="width: 150px; margin-bottom: 8px;" /><br />
爱码农，不爱代码；爱算法，不爱仿真；爱忙碌，不爱空闲；爱捣乱，不爱安静；爱自由，不爱限制；热爱一切美好的事物，为追求自己梦想而奋斗的一名未来的产品经理人，这就是我，管他人闲言碎语，这就是我，管这世间沧桑离奇。THIS IS ME----SPIDER <span style="font-style: italic; font-weight: bold;">    <br> Fuck it! We'll do it someday!</span>
<hr />

<span class="span4">
  <strong>Thanks</strong><br />
  Someday I'll be live in a big ole city and all you're ever gonna be is Mean!
</span>

<span class="span4">
  <strong>人生格言</strong><br />
 只要开始，永远不晚。
</span>

<span class="span3" style="text-align: right; margin-left: 45px;">
  <a href="http://weibo.com/zhoufanspider" target="_blank"><img src="{{ ASSET_PATH }}/img/icon_gplus.jpg" title="spiderfan@github.com" alt="Google+"/></a>
  &nbsp;
  
  <a href="http://weibo.com/zhoufanspider" target="_blank"><img src="{{ ASSET_PATH }}/img/icon_facebook.png" title="my weibo @ Sina" alt="Facebook" /></a>
  &nbsp; &nbsp;
  
</span>     </div>
    </div>

    

<!-- Piwik --> 
<script type="text/javascript">
var pkBaseURL = (("https:" == document.location.protocol) ? "https://wewantgames.de/piwik/" : "http://wewantgames.de/piwik/");
document.write(unescape("%3Cscript src='" + pkBaseURL + "piwik.js' type='text/javascript'%3E%3C/script%3E"));
</script><script type="text/javascript">
try {
var piwikTracker = Piwik.getTracker(pkBaseURL + "piwik.php", 1);
piwikTracker.trackPageView();
piwikTracker.enableLinkTracking();
} catch( err ) {}
</script><noscript><p><img src="http://wewantgames.de/piwik/piwik.php?idsite=1" style="border:0" alt="" /></p></noscript>
<!-- End Piwik Tracking Code -->    
<!--统计数据 -->
<script type="text/javascript">
var _bdhmProtocol = (("https:" == document.location.protocol) ? " https://" : " http://");
document.write(unescape("%3Cscript src='" + _bdhmProtocol + "hm.baidu.com/h.js%3F282c36b2ffc856557bb6c2ec9ffef0f4' type='text/javascript'%3E%3C/script%3E"));
</script>

  </body>
</html>